if (info)
  .col-lg-4.col-lg-offset-3.clearfix.pull-middle-center
    .panel.text-center.animated.flipInYRefl.sm-delay-1.h-300.w-500
      .panel-body.pull-middle-center
          h1.xl #{i18n.cabinetName}:#{info.cabinetName}
          h1.xl #{i18n.appType}:#{info.type}
          h1.xl #{i18n.appDetail}:#{info.detail}
else
  .col-lg-5.col-lg-offset-3.clearfix.pull-middle-center
    .text-center.animated.flipInYRefl.sm-delay-1.h-300.w-500
      h1.xl 没有有效工单
      if (type === 'returnGun')
        .btn.btn-empty.big.replaceReturnBtn
          h2 替代归还