li.list-cell-body.clearfix(data-id=id, data-alias=alias, data-name=name)
  .col-md-4
    h4 #{username}
  .col-md-8
    p.name 审核者姓名
    h4.cell-id #{alias}
    .quick-btn-cont.pull-middle-center
      span.check-btn.quick-btn.h-margin-nicer(data-id=id, data-alias=alias, data-name=name)
        span.glyphicon.glyphicon-check(aria-hidden='true')
