- var statusLabel = i18n["new"]
- var typeText = type.type;
case status
  when 'new'
    - statusLabel = i18n["new"]
  when 'pending'
    - statusLabel = i18n["pending"]
  when 'rejected'
    - statusLabel = i18n["rejected"]
  when 'approved'
    - statusLabel = i18n["approved"]
  when 'processed'
    - statusLabel = i18n["processed"]
  when 'complete'
    - statusLabel = ((typeText === 'storageGun') || (typeText === 'storageBullet') || (typeText === 'emergency') || (typeText === 'maintain') ? i18n["complete"] : i18n["completeReturn"])
  when 'partial'
    - statusLabel = i18n["partial"]
  when 'expire'
    - statusLabel = i18n["expire"]
  when 'timeout'
    - statusLabel = i18n["timeout"]
  default
    - statusLabel = i18n["error"]
- var typeLabel = i18n["usingGun"]
case type.type
  when 'bullet'
    - typeLabel = i18n["getBullet"]
  when 'gun'
    - typeLabel = i18n["usingGun"]
  when 'both'
    - typeLabel = i18n["usingGunWithGetBullet"]
  when 'emergency'
    - typeLabel = i18n["emergency"]
  when 'storageGun'
    - typeLabel = i18n["storageGun"]
  when 'storageBullet'
    - typeLabel = i18n["storageBullet"]
  when 'maintain'
    - typeLabel = i18n["maintain"]
.col-lg-4.col-md-6.col-sm-12.grid-list-cell-holder.animated.fadeInUp(class="sm-delay-" + index)
  .grid-list-cell(class="status-#{ status }", data-id=id)
    .grid-list-cell-body
      p.item-id #{localId}
      .clearfix
        h2.user-name #{applicant && applicant.alias ? applicant.alias : applicant.username}
        h3 #{i18n["application"]}#{typeLabel}
        h3 #{i18n["status"]}:#{statusLabel}
    .quick-btn-cont.pull-middle-center
      if status === 'new' || status === 'pending'
        span.delete-btn.quick-btn.h-margin-nicer(data-id=id)
          span.glyphicon.glyphicon-trash(aria-hidden='true')
      else if status === 'approved'
        span.go-btn.quick-btn.h-margin-nicer(data-id=id, data-type=type.type)
          span.glyphicon.glyphicon-compressed(aria-hidden='true')
