.container-fluid.applicationmanagement-screen.screen
  .leftmenu-holder.animated.fadeInLeft
    .leftmenu
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.appm-comp-clock.comp-clock.text-center #{i18n["appManage"]} / #{i18n["appOverview"]}
    .appm-status-bar.text-left
    //this is comp section
    .appm-action-bar.text-right
    //this is comp section
  .row.right-major
    //.row.search-box.seperate-after this is search box
    //.row.tag-list.seperate-after this is tag
    .list-cont
      .actions-bar.seperate-after.animated.fadeIn.col-sm-12
        .pull-left
          button.btn.btn-empty.highlight.button-group__item(name="refresh")
            h4
              | #{i18nButton["refreshBtn"]}
              .glyphicon.glyphicon-refresh.h-margin-nicer
          button.btn.btn-empty.highlight(name="search")
            h4
              | #{i18nButton["searchBtn"]}
              .glyphicon.glyphicon-search.h-margin-nicer
          button.btn.btn-empty.highlight(name="filter")
            h4
              | #{i18nButton["waitReviewAppBtn"]}
              .glyphicon.glyphicon-filter
          button.btn.btn-empty.highlight(name="all")
            h4
              | #{i18nButton["allBtn"]}
              .glyphicon.glyphicon-filter
        .pull-right.paging-btn-box
    .edit-cont
    .search-cont
    .pop#time-main
