li.list-cell-body.clearfix(data-id=id, data-name=name, data-type=type)
  .col-md-4
    h4 #{localId}
  .col-md-8
    p.name 申请种类
    h4.cell-id #{name}
    .quick-btn-cont.pull-middle-center
      span.check-btn.quick-btn.h-margin-nicer(data-id=id, data-name=name, data-type=type)
        span.glyphicon.glyphicon-check(aria-hidden='true')
