- var gunlockLabel = "正常"
case gunLock
  when 'normal'
    - gunlockLabel = "枪位正常"
  when 'broken'
    - gunlockLabel = "枪位异常"
.col-lg-4.col-md-6.col-sm-12.grid-list-cell-holder.animated.fadeInUp(class='sm-delay-' + index)
  .grid-list-cell(data-id=id,data-type=type,data-canid=canId,data-cabinetmoduleid=cabinetmoduleId, data-cabinet=cabinet)
    .grid-list-cell-body
      .col-md-12
        h5.user-role 枪号 #{ code }
        .user-name #{ (name ? name: '-' )}
        small.updated-time 型号 #{ type.name ? type.name : '枪支'} / #{gunlockLabel}
        div
          small.updated-time 柜机IP: #{ cabinetIp }
        div
          small.updated-time 柜机名: #{ cabinetName }
