li.list-cell-body.clearfix(data-id=id, data-name=name,data-type=type, data-local=String(isLocal), data-master=String(isMaster), data-code=code)
  .col-md-2
  .col-md-10
    h4.cell-id.padding-right40.text-overflow #{name}
    .quick-btn-cont.pull-middle-center
      span.check-btn.quick-btn.h-margin-nicer(data-id=id, data-name=name)
        span.glyphicon.glyphicon-check(aria-hidden='true')
