li.list-cell-body.clearfix(data-name=name, data-id=id)
  .col-md-12
    p.name 类型
    h4.cell-id.padding-right40.text-overflow #{name}
    .quick-btn-cont.pull-middle-center
      span.check-btn.quick-btn.h-margin-nicer(data-id=id, data-name=name)
        span.glyphicon.glyphicon-check(aria-hidden='true')