.col-lg-4.col-md-6.col-sm-12.grid-list-cell-holder.animated.fadeInUp(class="sm-delay-" + index)
  .grid-list-cell(data-id=id)
    .grid-list-cell-body
      p.item-id #{localId}
      .col-md-12
        h2.user-name.text-overflow #{to.username}
        h4.text-overflow #{detail}
        //small.last-maintant-time
    .quick-btn-cont.pull-middle-center
      span.delete-btn.quick-btn.h-margin-nicer(data-id=id)
        span.glyphicon.glyphicon-trash(aria-hidden='true')
