li.list-cell-body.clearfix(data-id=id, data-name=name)
  .col-md-4
    h4 #{localId}
  .col-md-8
    p.name 子弹类型
    h4.cell-id.padding-right40.text-overflow #{name}
    .quick-btn-cont.pull-middle-center
      span.check-btn.quick-btn.h-margin-nicer(data-id=id, data-name=name)
        span.glyphicon.glyphicon-check(aria-hidden='true')
